.woocommerce-checkout {
  display: inline-block;
  width: 100%;

  button[type="submit"] {
    @include bp-phone-xl() {
      width: 100%;
    }
  }

  .woocommerce button.button.alt {
    width: 100%;
  }

  .woocommerce {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
  }

  div[data-block-name="woocommerce/classic-shortcode"] {
    .chosen-container {
      display: none;
    }
  }

  .site-header + .wrap .maincontent {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  #payment {
    background: white;
    box-shadow: $box-shadow-card;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    @include bp-phone-xl() {
      padding-top: 0;
    }

    div.payment_box {
      background-color: #ebebeb;
      margin-bottom: 10px;

      &:before {
        content: "";
        display: block;
        border: 1em solid transparent;
        border-bottom-color: #ebebeb;
        position: absolute;
        top: -.75em;
        left: 0;
        margin: -1em 0 0 2em;
      }
    }

    div.form-row {
      padding-left: 20px;
      padding-right: 20px;
      @include bp-phone-xl() {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .background-enabled {
    color: black;

    .woocommerce-checkout-payment {
      color: black;
    }

    .payment_methods {
      @include bp-phone-xl() {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
  }

  .woocommerce-privacy-policy-text {
    font-size: $font-size-body;

    p {
      font-size: $font-size-body;

      a {
        font-size: inherit;
      }
    }
  }

  .checkout_coupon {
    display: none;
    border-radius: $border-radius-card;
    box-shadow: $box-shadow-card;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}

.woocommerce-checkout-payment {
  label[for="payment_method_paypal"] {
    img {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
  font-weight: 500;
}

.woocommerce table.shop_table th {
  font-weight: 500;
  font-size: $font-size-body;
}

.wc-saved-payment-methods {
  padding: 0;

  li {
    margin-bottom: 10px !important;
    @include bp-phone-xl() {
      display: flex;
    }

    input {
      top: 2px !important;
      @include bp-phone-xl() {
        margin-top: 0 !important;
      }
    }

    label {
      top: 0 !important;
      padding-left: 35px !important;
      @include bp-phone-xl() {
        padding: 0 !important;
        position: relative !important;
      }
    }
  }

  & + .wc-payment-form {
    margin-top: 25px !important;
  }
}

.woocommerce-checkout #payment ul.payment_methods {
  > li {
    line-height: 21px;
    font-size: $font-size-body;
    position: relative;

    > label {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      top: 13px;
      padding-left: 55px;
      margin: 0;
      left: 0;
      right: 0;
      padding-right: 20px;
      justify-content: space-between;

      &[for="payment_method_growtype_wc_paypal"] {
        img {
          max-width: 100px;
          width: 100%;
        }
      }

      &[for="payment_method_growtype_wc_stripe"] {
        img {
          max-width: 57px;
          width: 100%;
        }
      }

      &[for="payment_method_growtype_wc_cc"] {
        img {
          max-width: 135px;
          width: 100%;
        }
      }
    }

    > input {
      position: relative;
      top: 1px;
      cursor: pointer;
      z-index: 1;

      &[style="display: none;"] {
        + label {
          position: relative;
          top: 0;
          padding-left: 0;
        }
      }
    }

    .payment_box {
      &.payment_method_growtype_wc_paypal {
        background: none;
        padding: 0;
        margin-top: 15px;
        border-top: 1px solid #dce0e8;
        padding-top: 5px;

        &:before {
          display: none;
        }

        .btn-paypal {
          width: 100%;
          background: #f6c557;
          border-color: #f6c557;
          margin-top: 15px;

          img {
            max-width: 70px;
            margin: 0;
          }
        }
      }

      &.payment_method_growtype_wc_cc,
      &.payment_method_growtype_wc_stripe {
        background: none;
        padding: 0;
        margin-top: 15px;
        border-top: 1px solid #dce0e8;
        padding-top: 5px;
        margin-bottom: 0;

        &:before {
          display: none;
        }

        input {
          min-height: 47px;
          font-size: 16px;
        }

        .form-row {
          margin-bottom: 10px;
        }

        .btn {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 10px;
          @include bp-phone-xl() {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }

  & > li {
    margin-bottom: 10px;
  }
}

.woocommerce table.shop_table td {
  font-size: $font-size-body;

  a {
    color: var(--text-color);
  }
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
  .e-regular-old {
    text-decoration: line-through;
  }
}

#customer_details {
  .col-1, .col-2 {
    width: 100%;
    max-width: initial;
    padding-left: 0;
    margin-bottom: 10px;
    @include bp-phone-xl() {
      padding-right: 0;
    }
  }

  .col-1 {
    @include bp-phone-xl() {
      padding-right: 0;
    }
  }
}

.form-row {
  display: inline-block;
  width: 100%;

  &.form-row-first {
    width: calc(50% - 6px);
    float: left;
  }

  &.form-row-last {
    width: calc(50% - 6px);
    float: right;
  }
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields {
  .form-row {
    &.form-row-first {
      @include bp-phone-xl() {
        width: 100%;
      }
    }

    &.form-row-last {
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}

.form-row-wide {
  display: inline-block;
  width: 100%;
}

.postcode-is-visible {
  .form-row-wide {
    &.form-row-col-4 {
      width: calc(100% / 3 - 7px);
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}

.postcode-is-hidden {
  .form-row-wide {
    &.form-row-col-4 {
      width: calc(100% / 2 - 6px);
      @include bp-phone-xl() {
        width: 100%;
      }
    }
  }
}

.woocommerce form .form-row label {
  margin-bottom: 3px;
}

.woocommerce-checkout {
  .woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 50%;
    flex-direction: column;
    display: flex;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    @include bp-phone-xl() {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#customer_details.col2-set[data-billing="false"][data-shipping="false"] {
  display: none;

  & + .col2-set {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.woocommerce-customer-details {
  .col2-set {
    flex-direction: row;
    @include bp-phone-xl() {
      flex-direction: column;
    }
  }

  .col-1, .col-2 {
    max-width: 50%;
    width: 100%;
    flex: initial;
    padding-left: 0;
    padding-bottom: 35px;
    @include bp-phone-xl() {
      max-width: 100%;
    }
  }
}

.woocommerce form h3 {
  float: right;
  font-size: 16px;
  line-height: 30px;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

/**
Checkout review table
 */

.woocommerce-terms-and-conditions {
  padding: 15px;
  background: white;
  margin-top: 20px;

  p {
    font-size: 12px;
  }
}

.woocommerce-terms-and-conditions-checkbox-text {
  font-size: $font-size-body;

  a {
    font-size: $font-size-body;
    text-decoration: underline;
  }
}

.woocommerce-checkout {
  h3:empty {
    display: none;
  }
}

.woocommerce-checkout-vertical {
  .woocommerce-NoticeGroup, .col2-set, .woocommerce-checkout-review-order {
    margin: auto;
    float: initial;
  }

  #customer_details .col-1, #customer_details .col-2 {
    margin-bottom: 15px;
    padding: 0;
    @include bp-phone-xl() {
      margin-bottom: 10px;
    }
  }

  h3 {
    margin-bottom: 5px;
    padding: 3px;
  }

  .col2-set, .woocommerce-checkout-review-order, #order_review_heading {
    width: 100%;
  }
}

.payment_methods {
  color: black;
}

.woocommerce-checkout-payment {
  &.background-disabled {
    &#payment {
      background: none;
      box-shadow: none;

      ul.wc_payment_methods {
        padding-left: 0;
        padding-right: 0;
      }

      .form-row {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .place-order {
      padding-top: 0 !important;
    }
  }
}

/**
Payment method
 */
label[for=payment_method_nocharge] {
  &:empty {
    display: none;
  }
}

.woocommerce-terms-and-conditions-wrapper {
  margin-bottom: 15px;

  .woocommerce-form__label-for-checkbox {
    margin-top: 15px;
  }
}

.woocommerce-checkout-vertical {
  #customer_details {
    .col-1, .col-2 {
      margin-bottom: 0;
    }
  }
}

/**
Billing details
 */
.woocommerce-billing-fields {
  & + .woocommerce-account-fields {
    padding-top: 15px;
  }
}

#ship-to-different-address {
  .woocommerce-form__label-for-checkbox {
    span {
      position: relative;
      top: -4px;
      left: 3px;
    }
  }
}

h3 {
  & + .woocommerce-checkout-review-order {
    margin-top: 20px;
  }

  & + .woocommerce-billing-fields__field-wrapper {
    padding-top: 20px;
    width: 100%;
    @include bp-phone-xl() {
      padding-top: 7px;
    }
  }

  & + .btn-edit {
    & + .woocommerce-billing-fields__field-wrapper {
      padding-top: 20px;
    }
  }
}

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.woocommerce-privacy-policy-link {
  text-decoration: underline;
}

.woocommerce-checkout-review-order-table, .woocommerce-table--order-details {
  thead {
    .product-name {
      width: 60%;
    }

    .product-total {
      width: 40%;
    }
  }
}

input,
select,
.chosen-container-single .chosen-single,
.select2-container,
.select2-selection__rendered,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  min-height: 48px;
}

.chosen-container-single .chosen-single span {
  min-height: 46px !important;
}

.chosen-container-single .chosen-single div b {
  top: 10px !important;
}

.woocommerce-checkout-input-label-style-floating {
  .woocommerce-billing-fields,
  .woocommerce-shipping-fields {
    .form-row {
      position: relative;

      input,
      select,
      .select2-container,
      .select2-selection__rendered,
      .select2-container--default .select2-selection--single,
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        min-height: 56px;
        border-radius: 3px !important;
        overflow: hidden;
      }

      input {
        padding-top: 20px !important;
      }

      .woocommerce form .form-row input.input-text,
      .woocommerce form .form-row textarea,
      input:not([type=checkbox]):not([type=radio]):not([type=submit]):not(.qty),
      textarea,
      .select2-container--default .select2-selection--single {
        border-color: #D8DCE6;
      }

      .select2-container,
      .select2-selection__rendered,
      .select2-container--default .select2-selection--single,
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        line-height: 56px !important;
      }

      label {
        position: absolute;
        top: 2px;
        left: 0;
        height: 100%;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
        font-size: 16px;
        width: 100%;
        padding: 14px 14px 14px 14px;
        color: #9DA2B0;

        &.is-active {
          transform: scale(0.6);
          padding-left: 20px;
          padding-top: 10px;
          min-width: 200px;
        }
      }
    }
  }
}

.wc_payment_methods {
  .wc_payment_method {
    padding: 15px 20px;
    border: 1px solid #D8DCE6;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 14px !important;
    padding-top: 16px !important;
    min-height: 57px;

    label {
      font-weight: 600;
      font-size: 16px;
      width: 100%;
      justify-content: space-between;
      min-height: 28px;
    }

    &.is-active {
      background: #F5F7FC;
    }

    &.is-hidden {
      display: none;
    }

    .wc-payment-form {
      .form-row {
        padding: 0 !important;
      }
    }
  }
}

.payment-methods-position-after_shipping_details {
  .woocommerce-order-details {
    margin-top: 25px;
  }

  &:not(.woocommerce-order-received) {
    .woocommerce-checkout-review-order {
      &.is-accordion {
        tr {
          &:not(.order-total) {
            @include bp-phone-xl() {
              display: none;
            }
          }
        }
      }

      th {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      td {
        @include bp-phone-xl() {
          text-align: right;
          max-width: 80px;
          margin-left: auto;
        }
      }

      .woocommerce-shipping-totals {
        th, td {
          padding-top: 5px !important;
        }

        .woocommerce-shipping-methods {
          margin: 0 !important;

          li {
            margin: 0;
          }
        }
      }
    }

    #order_review_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      position: relative;
      justify-content: flex-start;
      gap: 10px;
      padding-bottom: 10px;

      @include bp-phone-xl() {
        cursor: pointer;
      }

      &.is-open {
        & + #order_review {
          tr {
            display: table-row;
          }
        }

        &:after {
          transform: rotate(180deg);
        }
      }

      &:not(.is-open) {
        & + #order_review {
          th, td {
            @include bp-phone-xl() {
              padding-top: 0;
            }
          }

          th {
            @include bp-phone-xl() {
              border: none !important;
            }
          }

          td {
            @include bp-phone-xl() {
              border: none !important;
            }
          }
        }
      }

      &:before {
        content: '';
        background: url('../../icons/cart-black.svg');
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: none;
        @include bp-phone-xl() {
          display: block;
        }
      }

      &:after {
        content: "\f347";
        font-family: 'dashicons';
        display: none;
        font-size: 22px;
        margin-left: auto;
        @include bp-phone-xl() {
          display: block;
        }
      }
    }

    .woocommerce-NoticeGroup {
      position: absolute;
      width: 100%;
      max-width: 1450px;
      margin: auto;
      left: 0;
      right: 0;
      padding-left: 60px;
      padding-right: 60px;
      @include bp-phone-xl() {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        order: 1;
      }

      .wc-block-components-notice-banner {
        max-width: 600px;
        margin-top: 25px;
        width: 47%;
        position: relative;
        z-index: 1;
        @include bp-phone-xl() {
          width: 100%;
        }

        ul {
          li {
            font-size: 14px;
          }
        }
      }

      & + .col2-set {
        padding-top: 110px;
        @include bp-phone-xl() {
          padding-top: 20px;
        }
      }
    }

    .woocommerce {
      margin: 0;
    }

    form.checkout {
      display: flex;
      flex-wrap: wrap;
      @include bp-phone-xl() {
        flex-direction: column-reverse;
      }
    }

    .main-content-wrapper {
      padding: 0;
      max-width: initial;
    }

    #main {
      padding-top: 0;
    }

    .content {
      display: flex;
    }

    main {
      .container {
        max-width: initial;
        padding: 0;
      }
    }

    .col2-set {
      padding-top: 60px;
      padding-bottom: 100px;
      padding-left: 65px !important;
      padding-right: 65px !important;
      align-items: flex-end;
      @include bp-tablet() {
        padding-left: 35px !important;
        padding-right: 35px !important;
      }
      @include bp-phone-xl() {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 40px;
        padding-bottom: 60px;
      }

      &[data-type="order_summary"] {
        background: #F5F7FC;
        align-items: flex-start;
        margin: 0;
        @include bp-phone-xl() {
          padding-bottom: 10px;
          order: 2;
        }
      }

      .woocommerce-checkout-review-order {
        max-width: 440px !important;
        border-top: 1px solid #D8DCE6;
        padding-top: 11px;
        margin-top: 10px;
        width: 100%;
        margin-right: auto;
        margin-left: 0;
        @include bp-phone-xl() {
          max-width: initial !important;
        }

        th, td {
          font-weight: 400;
        }

        td {
          text-align: right;
        }

        .woocommerce-shipping-totals {
          th, td {
            @include bp-phone-xl() {
              padding-top: 5px !important;
            }
          }

          @include bp-phone-xl() {
            margin-top: 20px;
          }
        }

        #shipping_method {
          display: flex;
          justify-content: flex-end;
          @include bp-phone-xl() {
            margin: 0 !important;
          }

          li {
            @include bp-phone-xl() {
              margin: 0 !important;
            }
          }
        }

        table {
          border: none !important;
          @include bp-phone-xl() {
            margin-bottom: 0;
          }

          tbody {
            .cart_item {
              th {
                padding-bottom: 20px;
              }

              td {
                padding-bottom: 20px;
              }
            }

            .cart-discount {
              th {
                padding-top: 20px;
                padding-bottom: 0;
                color: $color-error;
              }

              td {
                padding-top: 20px;
                padding-bottom: 0;
                color: $color-error;
              }
            }
          }

          tfoot {
            tr {
              &:not(.order-total) {
                th {
                  border: none !important;
                  padding-top: 0;
                  padding-bottom: 0;
                }

                td {
                  border: none !important;
                  padding-top: 0;
                  padding-bottom: 0;
                }
              }

              &.order-total {
                th {
                  padding-top: 20px;
                  font-weight: bold;

                  &:after {
                    content: ':';
                  }
                }

                td {
                  padding-top: 20px;
                  font-weight: 400;
                  font-size: 20px;
                  display: flex;
                  align-items: self-end;
                  justify-content: flex-end;
                  gap: 10px;
                }

                .e-regular-old {
                  display: none;
                  color: #F85A69;
                  font-size: 16px;
                  text-decoration: line-through;
                  @include bp-phone-xl() {
                    display: block;
                  }
                }
              }

              &.woocommerce-shipping-totals {
                th {
                  padding-bottom: 15px;
                }

                td {
                  padding-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }

    .woocommerce-additional-fields {
      h3 {
        padding-bottom: 10px;
        padding-left: 15px;
        padding-top: 20px;
      }

      .payment_methods, .place-order, h3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .b-breadcrumb-text {
      color: #5E677D;

      &.is-active {
        color: #3AAE88;
      }
    }

    .b-breadcrumb-separator {
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #ADB5BD;
    }
  }
}

.woocommerce-checkout-breadcrumbs-active {
  .col2-set {
    &[data-type="order_summary"] {
      padding-top: 114px;
      @include bp-phone-xl() {
        padding-top: 25px;
      }
    }
  }

  .b-breadcrumb {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.woocommerce-checkout-steps {
  .b-actions {
    margin-top: 20px;
    width: 100%;
    @include bp-phone-xl() {
      margin-top: 0;
    }

    .btn-next {
      width: 100%;
    }
  }

  .woocommerce-additional-fields {
    display: none;
  }

  .btn-edit {
    display: none;
    cursor: pointer;
  }

  #customer_details {
    .col-2 {
      margin-bottom: 0;
    }

    &.is-completed {
      .btn-edit {
        position: absolute;
        right: 30px;
        top: 30px;
        font-weight: 600;
        display: block;
      }

      .woocommerce-billing-fields-summary {
        display: inline-block;
        padding-left: 40px;
        @include bp-phone-xl() {
          padding-left: 0;
        }
      }

      .woocommerce-billing-fields {
        position: relative;
        background: #F5F7FC;
        padding: 30px;
        @include bp-phone-xl() {
          padding: 20px;
        }

        h3 {
          border-bottom: 1px solid #DEE2E6;
          padding-bottom: 15px;
          margin-bottom: 20px;
          display: flex;
          gap: 7px;

          &:before {
            content: '';
            width: 30px;
            height: 30px;
            background: url("../../icons/check.svg");
            display: inline-block;
            background-size: contain;
          }
        }
      }
    }
  }
}

/**
Stripe
 */
#stripe-card-element, #stripe-exp-element, .woocommerce-checkout-review-order #stripe-cvc-element {
  background: #ffffff !important;
  padding: 15px 10px !important;
  border-color: #c7c1c6 !important;
  border-radius: 3px !important;
  margin: 5px 0px !important;
}
