.page-upsell {
  .thankyou-centered {
    max-width: initial;
  }

  &.woocommerce-checkout .container > .content {
    max-width: 1220px;
    margin: auto;
  }

  .gwc-upsell {
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;

    .b-actions {
      display: flex;
      gap: 15px;
      justify-content: center;
      max-width: 340px;
      margin: auto;
      margin-top: 20px;
      width: 100%;
      flex-direction: column-reverse;
      @include bp-phone-xl() {
        max-width: initial;
      }

      .btn {
        @include bp-phone-xl() {
          min-width: initial;
          width: 100%;
        }
      }
    }

    .gwc-upsell-price {
      background: #282828;
      padding: 20px;
      border-radius: 10px;
      max-width: 340px;
      margin: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-top: 25px;
      padding-bottom: 15px;

      .list-check {
        margin-top: 15px;

        li {
          font-size: 12px;
          text-align: left;

          &:before {
            font-size: 18px;
            left: 0;
            position: absolute;
            top: -4px;
          }
        }
      }

      .badge-promo {
        right: 15px;
        top: 15px;
        left: initial;
        border: 1px solid white;
        position: absolute;
      }

      .title {
        font-size: 14px;
      }

      .badge-percentage {
        left: 25px;
        border: 1px solid white;
        top: -12px;
        font-weight: bold;
        position: absolute;
        background: #282828;
        border-radius: 5px;
      }

      .price-wrapper {
        padding-bottom: 0;
        display: flex;
        align-items: flex-end;

        .woocommerce-Price-amount {
          order: 1;
          padding-right: 5px;
          font-size: 28px;
          font-weight: bold;
          text-decoration: none;
          position: relative;
          top: 4px;
        }

        del {
          order: 2;
          padding-bottom: 4px;

          .woocommerce-Price-amount {
            font-size: 16px;
          }
        }

        .duration-details {
          order: 2;
        }

        ins {
          text-decoration: none;
        }

        .e-separator, .price-details {
          order: 3;

          .e-separator {
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
  }
}

.growtype-characters-limited {
  .growtype-post-avatar {
    pointer-events: none;

    .e-title {
      span {
        @include bp-phone-xl() {
          display: none;
        }
      }
    }

    .activity-status {
      display: none;
    }

    .btn-addtofavourites,
    .btn-status {
      display: none;
    }
  }
}
