@import "subpages/subscription";

.woocommerce-account {
  .edit-account {

    .fields-group {
      padding-bottom: 30px;
    }

    .fields-group-title {
      .e-title {
        margin: 0;
      }
    }

    .btn-remove {
      color: $color-error;
      background: none;
      border: 1px solid $color-error;

      @include bp-phone-xl() {
        margin-top: 100px;
        width: 100%;
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    width: 100%;
    float: left;

    & + .woocommerce-MyAccount-content {
      width: 100%;
    }

    ul {
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;
        background: none;
        color: white;
        border-radius: 2px;
        position: relative;
        width: calc(100% / 3);
        padding: 10px;
        margin: 0;
        @include bp-tablet() {
          width: 50%;
        }
        @include bp-phone-xl() {
          width: 100%;
          padding: 10px 0px;
        }

        &.woocommerce-MyAccount-navigation-link {
          font-weight: bold;

          .e-subtitle {
            font-weight: 300;
            font-size: 12px;
            color: $color-grey;
            word-break: break-word;
          }

          a {
            &:before {
              content: "\f108";
              font-family: Dashicons;
              position: absolute;
              left: 18px;
              top: 15px;
              background: $color-light-grey;
              padding: 3px 10px;
              border-radius: 5px;
              font-size: 22px;
              color: var(--text-color);
            }
          }

          &.woocommerce-MyAccount-navigation-link--orders {
            a {
              &:before {
                content: "\f174";
              }
            }
          }

          &.woocommerce-MyAccount-navigation-link--edit-address {
            a {
              &:before {
                content: "\f541";
              }
            }
          }

          &.woocommerce-MyAccount-navigation-link--edit-account {
            a {
              &:before {
                content: "\f110";
              }
            }
          }
        }

        a {
          color: var(--text-color);
          font-size: $font-size-body;
          padding: 15px;
          display: inline-block;
          width: 100%;
          background: white;
          border-radius: 5px;
          padding-left: 70px;
          position: relative;
          text-decoration: none;

          @include bp-phone-xl() {
            font-weight: 500;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    & + .woocommerce-MyAccount-content {
      padding: 0 30px;
    }
  }

  .woocommerce-MyAccount-content {
    width: 100%;
    float: right;
    padding: 0 0;
    min-height: 500px;

    .woocommerce-notices-wrapper {
      > * {
        margin-bottom: 40px !important;
      }
    }

    .woocommerce-EditAccountForm {
      .col-auto {
        width: 50%;
      }
    }
  }

  .b-info-header {
    display: flex;
    align-items: center;
    background-color: $color-black;
    color: white;
    border-radius: 10px;
    padding: 25px 30px;
    margin-bottom: 35px;
    @include bp-phone-xl() {
      padding: 15px;
    }

    .b-info-header-cta {
      margin-right: 20px;
      @include bp-phone-xl() {
        margin-right: 15px;
      }
    }

    .btn-back-bg {
      padding: 20px;
    }

    .b-info-header-content {
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;

      .e-subtitle {
        font-size: $font-size-body;
        font-weight: 300;
        margin-top: 2px;
      }
    }
  }
}
