.popup-justpurchased {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  display: none;

  .popup-inner {
    background: white;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 5%);
    color: black;
    font-size: 14px;

    &:before {
      content: '';
      background-image: url("./../../../icons/cart.svg");
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15px;
      left: 15px;
      background-repeat: no-repeat;
      background-position: 48% 51%;
      background-color: black;
      border-radius: 20px;
      background-size: 17px;
      font-size: 12px;
    }

    .b-image {
      max-width: 200px;
      @include bp-phone-xl() {
        max-width: 100px;
      }

      & + .b-content {
        padding-left: 0;
      }
    }

    .b-content {
      max-width: 200px;
      padding-left: 40px;
      @include bp-phone-xl() {
        max-width: 180px;
      }

      .b-content-bottom {
        padding-top: 10px;
        color: gray;
      }
    }
  }
}
