@import "partials/style-2";
@import "partials/plan";

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
  @include bp-phone-xl-reverse() {
    clear: both;
  }
}

li.product {
  list-style-type: none;

  .list-check {
    padding-top: 15px;
  }

  .price {
    .strike {
      & + .highlight {
        padding-left: 5px;
      }
    }
  }
}

.product {
  position: relative;

  a {
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  .onsale {
    right: initial;
    padding: 1px;
    min-width: initial;
    padding-left: 11px;
    padding-right: 11px;
    text-transform: initial;
    background: black;
    position: absolute;
    top: -10px;
    left: -5px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;
  }

  .entry-summary {
    .onsale {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}

.woocommerce .products,
.wc-block-product-new,
.wp-block-handpicked-products {
  .product {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(25% - 20px);
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
    float: left;

    @include bp-phone-xl() {
      width: calc(50% - 15px);
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 6px;
      margin-top: 6px;
    }

    &:nth-child(odd) {
      @include bp-phone-xl() {
        clear: both;
      }
    }
  }

  &.columns-9 {
    li {
      &.product {
        width: calc(100% / 9 - 20px);
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-8 {
    li {
      &.product {
        width: calc(100% / 8 - 20px);
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-7 {
    li {
      &.product {
        width: calc(100% / 7 - 20px);
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-6 {
    li {
      &.product {
        width: calc(100% / 6 - 20px);
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-5 {
    li {
      &.product {
        width: calc(100% / 5 - 20px);
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-4 {
    li {
      &.product {
        width: calc(100% / 4 - 20px);
        @include bp-phone-xl-reverse() {
          &:nth-child(4n-7) {
            clear: both;
          }
        }
        @include bp-phone-xl() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &.columns-3 {
    li {
      &.product {
        width: calc(100% / 3 - 20px);

        &.product-type-auction {
          @include bp-tablet-big() {
            width: calc(50% - 15px);
            margin-left: 5px;
            margin-right: 5px;
          }
          @include bp-phone-large() {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }

        @include bp-phone-xl-reverse() {
          &:nth-child(3n) {
            clear: right;
          }
        }

        @include bp-tablet-portrait() {
          width: calc(50% - 15px);
          margin-left: 5px;
          margin-right: 5px;
        }

        &:not(.product-type-auction) {
          @include bp-phone-xl() {
            width: calc(50% - 15px);
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  &.columns-2 {
    li {
      &.product {
        width: calc(100% / 2 - 20px);
      }
    }
  }

  &.columns-1 {
    li {
      &.product {
        width: calc(100% / 1 - 20px);
        @include bp-phone-xl() {
          width: 100%;
        }
      }
    }
  }
}

.woocommerce ul.products[class*=columns-] li.product {
  @include bp-phone-xl() {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.woocommerce ul.products.slick-slider li.product {
  float: none;
}

.product {
  .badge {
    text-align: center;
    background-color: #77a464;
    color: #fff;
    z-index: 1;
    border-radius: 5px;
    margin: -10px;
    font-size: 12px;
    padding: 6px 15px;
    top: 0;
    left: initial;
    min-width: 80px;
    min-height: initial;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    @include bp-phone-xl() {
      margin: -5px;
    }

    & + .woocommerce-loop-product__title {
      padding-top: 40px;
    }
  }

  .badge-promo {
    right: 0;
  }

  .badge-percentage {
    left: 0;
  }
}

.wc-block-grid__products {
  margin: 0;
  margin-left: -10px;
  width: calc(100% + 20px);

  .wc-block-grid__product {
    margin: 15px 10px;
    border: none;
  }

  .wc-block-grid__product-add-to-cart {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.wc-block-grid.has-2-columns .wc-block-grid__product {
  max-width: calc(100% / 2 - 20px);
}

.wc-block-grid.has-3-columns .wc-block-grid__product {
  max-width: calc(100% / 3 - 20px);
}

.wc-block-grid.has-4-columns .wc-block-grid__product {
  max-width: calc(100% / 4 - 20px);
}

.wc-block-grid.has-5-columns .wc-block-grid__product {
  max-width: calc(100% / 5 - 20px);
}

.woocommerce ul.products {
  margin-left: -10px;
  width: calc(100% + 20px);
  position: relative;

  @include bp-phone-xl() {
    margin-left: -5px;
  }

  .content-wrapper {
    margin-bottom: 10px;

    &:empty {
      margin-bottom: 0;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: black;
    bottom: 30px;
    position: relative;
  }

  .slick-list {
    overflow: hidden;
  }

  .product {
    &:nth-child(odd) {
      //margin-right: auto !important;
    }
  }
}

.product {
  .woocommerce-loop-product__title {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 400;
    white-space: pre-wrap;
    word-break: keep-all;
  }
}

.woocommerce ul.products li.product img {
  margin-bottom: 0;
}

.woocommerce ul.products li.product .button {
  min-width: initial;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  @include bp-phone-xl() {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.woocommerce ul.products li.product .price {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 500;

  .strike {
    & + .highlight {
      padding-left: 5px;
    }
  }
}

.woocommerce ul.products li.product .button {
  width: 100%;
  display: inline-block;

  &:focus {
    outline: none;
  }
}

.woocommerce .products.products-amount-3 {
  .product {
    width: calc(100% / 3);
    @include bp-phone-xl() {
      width: 100%;
    }
  }
}

.woocommerce-loop-product__link {
  &:hover {
    .content-wrapper {
      color: var(--text-color);
    }
  }
}

/**
Product type auction
 */
.product.product-type-auction {
  .auction-details-time {
    background: $color-extra-light-grey;
    border-radius: 10px;
    padding: 15px 15px;
    position: relative;
    padding-left: 45px;
    font-size: 14px;
    color: $color-dark-grey;

    &:before {
      content: "\f469";
      font-family: Dashicons;
      width: 20px;
      height: 20px;
      position: absolute;
      background-size: contain;
      left: 15px;
      top: 15px;
      font-size: 22px;
    }

    .b-time {
      font-size: 14px;
      display: flex;
      font-weight: bold;
    }

    .gwc-time-countdown {
      padding: 0;

      .countdown_row {
        word-break: keep-all;
        font-size: 14px;
      }
    }

    .countdown_amount {
      font-size: $font-size-body;
    }
  }

  &.auction-has-started {
    .auction-details-time {
      &:before {
        content: "\f469";
        font-family: Dashicons;
      }
    }
  }
}

.archive.woocommerce {
  ul.products {
    padding-bottom: 30px;
  }
}

.gwc-time-countdown {
  .countdown_row {
    .countdown_section {
      min-width: 30px;
      position: relative;

      &:before {
        content: ':';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -14px;
        top: -10px;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    .countdown_amount {
      font-weight: bold;
    }
  }
}
