#backtoblog {
  display: none;
}

.alert {
  max-width: 430px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 14px;
}

.form-wrapper {
  margin: auto;
}

.login form, #signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto 24px;
  width: 100%;
  padding: 26px 24px 34px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5e6c84;
  border: none;
}
@media only screen and (max-width: 640px) {
  .login form, #signup-form {
    padding: 20px 20px;
  }
}

.logo-wrapper {
  max-width: 240px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .logo-wrapper {
    margin-bottom: 20px;
  }
}

.form-wrapper .b-actions, .login #nav {
  text-align: center;
}
.form-wrapper .b-actions a, .login #nav a {
  font-size: 14px;
  text-decoration: none;
  border: none;
  color: #0d6efd;
}
.form-wrapper .b-actions .e-dot, .login #nav .e-dot {
  font-size: 16px;
}

form input[type=submit], form button[type=submit] {
  width: 100%;
  margin-top: 20px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  min-height: initial !important;
  line-height: initial !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  background: #5561e2 !important;
  border-radius: 5px !important;
}
form[name=lostpasswordform] {
  padding: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 5px !important;
  display: inline-block;
}

.lostpassword #lostpassword {
  max-width: 430px;
  padding-top: 50px;
}

.signup #signup-container {
  max-width: 710px;
}
.signup .entry-content {
  padding-top: 30px;
}
.signup .form-wrapper {
  margin-top: 30px;
}
.signup .b-form .b-input {
  width: 50%;
}
