.subs {
  border: 1px solid #3a3a3a;
  padding: 30px;
  border-radius: 5px;
  @include bp-phone-xl() {
    padding: 20px;
  }

  .subs-single {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
    margin-bottom: 30px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .subs-single-details {
      width: 60%;
      @include bp-phone-xl() {
        width: 100%;
      }

      .e-status {
        padding: 5px;
        border-radius: 5px;

        &[data-status="active"] {
          background: green;
        }

        &[data-status="cancelled"] {
          background: red;
        }
      }

      .e-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;

        p {
          margin-bottom: 5px;
        }
      }
    }

    .subs-single-actions {
      width: 40%;
      @include bp-phone-xl() {
        width: 100%;
        margin-top: 20px;
      }

      .b-actions {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        @include bp-phone-xl() {
          flex-direction: column;
        }

        .btn {
          min-width: initial;
          width: 100%;
        }
      }
    }
  }
}
